.opening-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/code_tree.png");
    background-size: 1600px;
    background-repeat: no-repeat;
    background-position: 50% 100%;

    .opening_text {
        color: #fff;
        text-align: center;
        line-height: 1.5;
        transition: all 2s ease-in-out;
        border-radius: 6px;
    }


}