@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@500&display=swap");
/*$overColor: #00eaff;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  /*border: 3px solid pink;*/
}

:root {
  --text-color: #f5f5f5;
  --over-color: #14f7ff;
  --bg-color: #250821;
  --second-bg-color: #292e33;
  --big-font: 2.5rem;
  --normal-font: 2rem;
  --small-font: 1.5rem;
  --neon-box-shadow: 0 0 .5rem #12f7ff;
  --neon-box-shadow2: 0 0 2rem #12f7ff;
  --h2-font: 3rem;
  --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3),
      0 0 20px rgba(18, 247, 255, 0.3),
      0 0 30px rgba(18, 247, 255, 0.3),
      0 0 40px rgba(18, 247, 255, 0.3),
      0 0 70px rgba(18, 247, 255, 0.3),
      0 0 80px rgba(18, 247, 255, 0.3),
      0 0 100px rgba(18, 247, 255, 0.3),
      0 0 150px rgba(18, 247, 255, 0.3);
}

::-webkit-scrollbar {
  height: 0;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--second-bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--over-color);
  border-radius: 5rem;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg-color);
  overflow-x: hidden;
  color: var(--text-color);
}

/*.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 11vh 89vh 100vh 100vh 100vh 105vh 40px;
    grid-template-areas:
        "header"
        "opening"
        "about"
        "skills"
        "galery-projects"
        "contact"
        "bottom";
    border-bottom: 5px solid #12f7ff;

    @media (max-width:992px) {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 11vh 89vh 110vh 170vh 270vh 105vh 50px;
        grid-template-areas:
            "header"
            "opening"
            "about"
            "skills"
            "galery-projects"
            "contact"
            "bottom";
    }*/
/* @media (max-width:768px) {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 11vh 89vh 180vh 170vh 270vh 105vh 40px;
        grid-template-areas: "header"
            "opening"
            "about"
            "skills"
            "galery-projects"
            "contact"
            "bottom";
    }*/
/*@media (max-width:576px) {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 11vh 89vh 140vh 150vh 270vh 105vh 40px;
    grid-template-areas: "header"
    "opening"
    "about"
    "skills"
    "galery-projects"
    "contact"
    "bottom";
}
}*/
span {
  color: var(--over-color);
}

.section-text {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--over-color);
}
.section-text h2 {
  font-weight: 700;
  font-size: var(--normal-font);
}
.section-text span {
  color: #fdfdfd;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header-container {
  grid-area: header;
  width: 100vw;
}
.header-container .upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 11vh;
  padding: 20px 5vw;
  position: fixed;
  background-color: var(--bg-color);
  border-top: 5px solid #12f7ff;
  z-index: 500;
}
.header-container .upper .myName {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
}
@media (max-width: 370px) {
  .header-container .upper .myName {
    font-size: 1rem;
  }
}
.header-container .upper .myName img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid var(--over-color);
  margin-right: 10px;
}
@media (max-width: 370px) {
  .header-container .upper .myName img {
    width: 25px;
    height: 25px;
  }
}
.header-container .upper nav .nav-list {
  list-style-type: none;
  display: flex;
}
.header-container .upper nav .nav-list li a {
  color: var(--text-color);
  font-weight: 500;
  padding: 10px 20px;
}
.header-container .upper nav .nav-list li a:hover {
  color: var(--over-color);
  text-shadow: 0 0 10px rgba(18, 247, 255, 0.6), 0 0 30px rgba(18, 247, 255, 0.6), 0 0 40px rgba(18, 247, 255, 0.6), 0 0 70px rgba(18, 247, 255, 0.6), 0 0 80px rgba(18, 247, 255, 0.6), 0 0 100px rgba(18, 247, 255, 0.6), 0 0 150px rgba(18, 247, 255, 0.6);
}
@media (max-width: 992px) {
  .header-container .upper nav .nav-list li a {
    display: block;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
}
@media (max-width: 992px) {
  .header-container .upper nav .nav-list {
    display: flex;
    position: absolute;
    top: -1000px;
    right: 0;
    left: 0;
    flex-direction: column;
    background: var(--bg-color);
    text-align: left;
    padding: 0 5%;
    transition: all 0.45s ease;
  }
  .header-container .upper nav .nav-list.open {
    top: 100%;
  }
}
.header-container .upper #menu-icon {
  font-size: 1.8rem;
  z-index: 10001;
  cursor: pointer;
  /* margin-left: 25px;*/
  background: var(--text-color);
  border-radius: 3px;
  color: var(--second-bg-color);
  display: none;
}
@media (max-width: 992px) {
  .header-container .upper #menu-icon {
    display: block;
    transition: all 0.4s ease;
  }
  .header-container .upper #menu-icon.bx-x {
    transform: rotate(-180deg);
  }
}
@media (max-width: 992px) {
  .header-container .upper {
    padding: 15px 5vw;
  }
}

.opening-container {
  grid-area: opening;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/code_tree.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}
.opening-container .opening_text {
  color: #fff;
  text-align: center;
  line-height: 1.5;
  transition: all 2s ease-in-out;
  border-radius: 6px;
}

.about-container {
  /*  grid-area: about;*/
  width: 100vw;
  padding: 100px 10vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 4em;
  /*-----------------------------Mobile-------------------------------------*/
  /*----------------------------- End mobile-------------------------------------*/
}
@media (max-width: 992px) {
  .about-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 576px) {
  .about-container {
    padding: 0 2vw;
  }
}
.about-container .about-me {
  max-width: 600px;
}
@media (max-width: 576px) {
  .about-container .about-me p {
    font-size: 1rem;
  }
}
@media (max-width: 992px) {
  .about-container .about-me {
    max-width: 100%;
  }
}
.about-container .about-me h1 {
  font-size: var(--big-font);
  font-weight: 600;
  /* @media (max-width:992px) {
      font-size: var(--small-font);
  }*/
}
.about-container .about-me .change-text {
  font-size: var(--small-font);
  font-weight: 500;
  margin-bottom: 10px;
  /*  @media (max-width:992px) {
      font-size: 0.9rem;
      font-weight: 400;
  }*/
}
@media (max-width: 576px) {
  .about-container .about-me .change-text .my-line {
    display: block;
    /*   margin-right: 100%;*/
  }
}
.about-container .about-me .change-text h2 {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
}
.about-container .about-me .change-text h2 .word {
  position: absolute;
  display: flex;
  opacity: 0;
}
.about-container .about-me .change-text h2 .word .letter {
  transform-origin: center center 25px;
}
.about-container .about-me .change-text h2 .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.4s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.about-container .about-me .change-text h2 .word .letter.in {
  transition: 0.4s ease;
}
.about-container .about-me .change-text h2 .word .letter.behind {
  transform: rotateX(-90deg);
}
.about-container .about-me .btn-box {
  display: flex;
  width: 320px;
  height: 45px;
  z-index: 50;
}
@media (max-width: 992px) {
  .about-container .about-me .btn-box {
    width: 100vw;
  }
}
.about-container .about-me .btn-box a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 150px;
  height: 100%;
  background: var(--over-color);
  color: var(--bg-color);
  box-shadow: var(--neon-box-shadow);
  border-radius: 6px;
  transition: 0.6s;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  border: 3px solid var(--bg-color);
  z-index: 100;
}
@media (max-width: 576px) {
  .about-container .about-me .btn-box a {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
.about-container .about-me .btn-box a:hover {
  background-color: var(--bg-color);
  color: var(--over-color);
}
.about-container .about-image {
  position: relative;
}
.about-container .about-image .image-box {
  text-align: center;
}
.about-container .about-image .image-box img {
  width: 100%;
  max-width: 400px;
  height: auto;
  z-index: 10;
}
.about-container .about-image .liquid-shape {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 6%;
  left: 6%;
}
.about-container .about-image .liquid-shape:nth-child(2) {
  filter: blur(50px);
}

.skills-container {
  grid-area: skills;
  width: 100vw;
}
.skills-container .skill-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 992px) {
  .skills-container .skill-main {
    grid-template-columns: 1fr;
  }
}
.skills-container .skill-main h2 {
  margin-bottom: 2rem;
  font-size: var(--normal-font);
  text-align: center;
}
.skills-container .skill-left {
  width: 80%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.skills-container .skill-left .skill-bar {
  margin-bottom: 2.3rem;
}
.skills-container .skill-left .skill-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.skills-container .skill-left .skill-bar .bar {
  width: 100%;
  height: 10px;
  background-color: var(--second-bg-color);
  border-radius: 25px;
  margin-bottom: 10px;
  position: relative;
}
.skills-container .skill-left .skill-bar .bar span {
  height: 100%;
  position: absolute;
  left: 0;
  background-color: var(--over-color);
  border-radius: 25px;
  box-shadow: var(--neon-box-shadow);
}
.skills-container .skill-left .skill-bar .bar .html5 {
  width: 90%;
  animation: html5 2s;
}
.skills-container .skill-left .skill-bar .bar .css {
  width: 85%;
  animation: css 3s;
}
.skills-container .skill-left .skill-bar .bar .javascript {
  width: 75%;
  animation: javascript 4s;
}
.skills-container .skill-left .skill-bar .bar .sql {
  width: 100%;
  animation: sql 5s;
}
.skills-container .skill-left .skill-bar .bar .c {
  width: 90%;
  animation: c 6s;
}
.skills-container .skill-left .skill-bar .bar .java {
  width: 80%;
  animation: java 7s;
}
.skills-container .skill-left .skill-bar .bar .python {
  width: 95%;
  animation: python 8s;
}
@keyframes html5 {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 72%;
  }
}
@keyframes sql {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes c {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes java {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}
.skills-container .skill-right {
  width: 80%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.skills-container .skill-right .professional {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 992px) {
  .skills-container .skill-right .professional {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.skills-container .skill-right .professional .box {
  margin: 10px 0;
  flex: 1 1 15rem;
  position: relative;
}
.skills-container .skill-right .professional .box .circle {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-container .skill-right .professional .box .circle .points {
  width: 2px;
  height: 10px;
  background-color: var(--bg-color);
  position: absolute;
  border-radius: 3px;
  transform: rotate(calc(var(--i) * var(--rot))) translateY(-45px);
}
.skills-container .skill-right .professional .box .circle .points.marked {
  animation: glow 0.04s linear forwards;
  animation-delay: calc(var(--i) * 0.05s);
}
@keyframes glow {
  0% {
    background: var(--bg-color);
    box-shadow: none;
  }
  100% {
    background: var(--over-color);
    box-shadow: var(--neon-box-shadow2);
  }
}
.skills-container .skill-right .professional .box .text {
  text-align: center;
  color: #fff;
  font-size: 1rem;
}
.skills-container .skill-right .professional .box .text big {
  font: 400;
  letter-spacing: 1px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skills-container .skill-right .professional .box .text small {
  display: block;
  font-weight: 600;
}

.projects-galery {
  grid-area: galery-projects;
}
.projects-galery .projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 37vh 37vh;
  grid-template-areas: "project1 project2 project3" "project4 project5 project6";
  gap: 2em;
}
@media (max-width: 992px) {
  .projects-galery .projects-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 37vh);
    grid-template-areas: "project1" "project2" "project3" "project4" "project5" "project6";
  }
}
.projects-galery .projects-container .projectImage {
  border-radius: 10px;
  border: 3px outset var(--over-color);
  margin: 0 auto;
  overflow: hidden;
  /* Relative positioning for child elements */
  position: relative;
  z-index: 1;
  /* Establish stacking context */
}
.projects-galery .projects-container .projectImage:hover figcaption {
  /* Show the caption on hover */
  opacity: 1;
  /* Move the caption up to make it visible */
  transform: translateY(0);
}
.projects-galery .projects-container .projectImage figcaption {
  width: 410px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(rgba(37, 8, 33, 0.9), rgba(20, 247, 255, 0.9019607843));
  color: #fff;
  padding: 0 2rem;
  line-height: 2;
  box-shadow: var(--neon-box-shadow2);
  /* Hide the caption by default */
  opacity: 0;
  /* Smooth transition */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  /* Absolute positioning for precise placement */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* Start below the image */
  transform: translateY(100%);
  /* Above the image but below other content */
  z-index: 2;
}
.projects-galery .projects-container .projectImage figcaption h3 {
  font-size: 2em;
}
@media (max-width: 992px) {
  .projects-galery .projects-container .projectImage figcaption h3 {
    font-size: 3em;
  }
}
@media (max-width: 576px) {
  .projects-galery .projects-container .projectImage figcaption h3 {
    font-size: 1.2em;
  }
}
.projects-galery .projects-container .projectImage figcaption p {
  font-size: 0.8em;
}
@media (max-width: 992px) {
  .projects-galery .projects-container .projectImage figcaption p {
    font-size: 1em;
  }
}
@media (max-width: 576px) {
  .projects-galery .projects-container .projectImage figcaption p {
    font-size: 0.6em;
  }
}
.projects-galery .projects-container .projectImage figcaption a {
  background: var(--over-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  outline: 3px solid #fff;
}
.projects-galery .projects-container .projectImage figcaption a i {
  font-size: 1.5rem;
  color: var(--bg-color);
}
@media (max-width: 992px) {
  .projects-galery .projects-container .projectImage figcaption {
    width: 100%;
    height: 100%;
  }
}
.projects-galery .projects-container .projectImage img {
  width: 410px;
  /* height: 270px;*/
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  border: 1px solid var(--bg-color);
  z-index: 1;
}
@media (max-width: 992px) {
  .projects-galery .projects-container .projectImage img {
    width: 80vw;
    /*  height: 270px;*/
    height: 100%;
  }
}

.contact {
  grid-area: contact;
  width: 100vw;
  height: 110vh;
  padding: 10vh 5vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 992px) {
  .contact {
    width: 100vw;
    grid-template-columns: 1fr;
    padding: 0;
  }
}
.contact .contact-text {
  height: 100%;
  line-height: 1.5;
}
.contact .contact-text h2 {
  color: var(--over-color);
  font-size: var(--big-font);
  font-weight: 600;
}
.contact .contact-text form input {
  width: 200px;
  height: 30px;
  align-items: center;
  justify-content: center;
  background-color: var(--over-color);
  color: var(--bg-color);
  border-radius: 10px;
}
.contact .contact-text form textarea {
  width: 80%;
  height: 180px;
  resize: none;
  border-radius: 10px;
  background-color: var(--over-color);
}
.contact .contact-text form .sub:hover {
  background-color: var(--bg-color);
  border: 2px solid var(--over-color);
  color: var(--over-color);
}
@media (max-width: 992px) {
  .contact .contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
  }
}
.contact .picture {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .contact .picture {
    display: none;
  }
}
.contact .picture img {
  width: 400px;
  height: auto;
}

footer {
  width: 100vw;
  padding: 1.6rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer p {
  color: #bdbdbd;
}
footer a {
  display: inline-flex;
  justify-content: center;
  color: var(--bg-color);
  background-color: var(--over-color);
  padding: 0.6rem;
  border-radius: 5px;
}/*# sourceMappingURL=main.css.map */